.cotain{
    text-align: center;
    
}
.form_main{
    text-align: center;
    padding: 20px;
    
}
.handing
{
    text-align: center; 
}
.div_input
{
    margin: 10px;
}
body{
    background: slategray;
}